asgiref==3.2.10
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
django-appconf==1.0.4
django-ckeditor==6.0.0
django-imagekit==4.0.2
django-js-asset==1.2.2
django-model-utils==4.0.0
django-mptt==0.11.0
django-notifications-hq==1.6.0
django-password-reset==2.0
django-taggit==1.3.0
idna==2.10
jsonfield==3.1.0
Markdown==3.3.3
numpy==1.19.3
pilkit==2.0
Pillow==8.0.1
Pygments==2.7.2
pytz==2020.1
requests==2.24.0
scipy==1.5.3
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
summa==1.2.0
swapper==1.1.2.post1
urllib3==1.25.11
webdriver-manager==3.2.2
wincertstore==0.2
