<!-- 
    载入静态文件
    使用 Django 3 学习的读者改为 {% load static %}
-->
{% load static %}

<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

    <head>
        <!-- 网站采用的字符编码 -->
        <meta charset="utf-8">
        <!-- 预留网站标题的位置 -->
        <title>{% block title %}{% endblock %}</title>
        <!-- 引入bootstrap的css文件 -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>
        <!-- 新 Bootstrap4 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        
        <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- 引入monikai.css -->
        <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/all.min.css">
        <style>
            li.order_list:active {color:black;font-weight: bold;user-select: none;}
        </style>
            <!-- 
            popper.js 采用 cdn 远程引入，意思是你不需要把它下载到本地。 
            在实际的开发中推荐静态文件尽量都使用 cdn 的形式。 
            教程采用本地引入是为了让读者了解静态文件本地部署的流程。
        -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
        <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
        
        <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
        <!-- 引入bootstrap的js文件 -->
        <script>
            $('div#article_body table').addClass('table table-bordered');
            $('div#article_body thead').addClass('thead-light');
        </script>
        
    </head>

    <body>
        <!-- 引入导航栏 -->
        {% include 'header.html' %}
        <!-- 预留具体页面的位置 -->
        <div id="wrapper">
            {% block content %}{% endblock content %}
            <div id="push"></div>
        </div>
        <!-- 引入注脚 -->
        {% include 'footer.html' %}

        <!-- 新增block 运行js脚本 -->
        {% block script %}{% endblock script %}

        <!-- 在jquery后面引入返回顶部按钮 -->
        {% include 'back_to_top_func.html' %}
        <style>
            html, body {
                height: 100%;
                margin: 0;
            }

            #wrapper {
                min-height: 100%;
                margin-bottom: -60px;
            }

            #footer,
            #push {
                height: 60px;
            }
        </style>
    </body>

</html>